# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Private Key (for deployment)
PRIVATE_KEY=

# API Keys
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66
ETHERSCAN_API_KEY=J8PU7AX1JX3RGEH1SNGZS4628BAH192Y3N
